<h2 mat-dialog-title>Product Preview</h2>
<mat-dialog-content [ngStyle]="{'overflow': !isLoading ? 'auto' : 'hidden' }">
  <div>
    <h3 class="display-heading" id="triple-heading">{{listedProducts?.settings.affiliateHeading}}</h3>
    <div id="loader" class="loader" *ngIf="isLoading"></div>
    <div id="searchItems" *ngIf="!isLoading">
      <div class="product-box" *ngFor="let item of listedProducts.products let i = index">
        <a target="_blank" href="https://{{item.shopDomain}}/products/{{item.handle}}?ref={{item.affiliateTag}}">
        <img src="{{item.images[0].src}}" alt="Product Image" width="90" height="110">
        <div class="product-title">
        <h3 id="">{{item.title}}</h3>
        </div>
        <p id="${i}prodprice" class="product-price">{{item.variants[0].price}} {{item.currency}}
        </p>
        </a>
        <a target="_blank" style="color: black;" href="https://{{item.shopDomain}}/products/{{item.handle}}?ref={{item.affiliateTag}}" class="action-button">{{listedProducts?.settings.buttonText}}</a>
        </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>
