<!-- <div *ngIf="listedproducts.length > 0; else noproduct"> -->
  <div class="table-wrapper">

  <table mat-table [dataSource]="dataSource" matSort sstyle="position: sticky; width: 100%;">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</th>
      <td mat-cell *matCellDef="let element" style="text-align: left;width: 68%">{{ element.title }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let element"><img src="{{element.images[0].src}}" alt="" style="height:80px; padding:10px"></td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef [ngClass]="'text-center'">Price</th>
      <td mat-cell *matCellDef="let element" style="width: 15%" [ngClass]="'text-center'">{{ element.variants[0].price }} {{ element.currency }}</td>
    </ng-container>

    <ng-container matColumnDef="commission">
      <th mat-header-cell *matHeaderCellDef [ngClass]="'text-center'">Commission %</th>
      <td mat-cell *matCellDef="let element" style="width: 13%" [ngClass]="'text-center'">{{ element.commission }} %</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button color="primary" (click)="OpenListedProductSettingsDialog(element)" mat-flat-button>Set Commission</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20, 30]" [length]="listedproducts.length" [pageSize]="5" showFirstLastButtons></mat-paginator>

<!-- </div>

<ng-template #noproduct>
<h1 class="display-4 mt-3 text-center">You have not listed any product on triple</h1>
</ng-template> -->
