<div class="container">
  <div class="row">
    <div class="col-md-3">
      <mat-card class="stat-card">
        <div class="row">
          <div class="col-md-3">
            <img src="../../assets/img/stat_cart.svg" class="img-responsive"/>
          </div>
          <div class="col-md-9">
            <div class="stat-text">
              <p class="stat-title">
                Total Sales
              </p>
              <p class="stat-amount">
                ${{storeOwnerStats.totalSales}}
              </p>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card class="stat-card">
        <div class="row">
          <div class="col-md-3">
            <img src="../../assets/img/stat-currency.svg" class="img-responsive"/>
          </div>
          <div class="col-md-9">
            <div class="stat-text">
              <p class="stat-title">
                Total Commission Paid Out
              </p>
              <p class="stat-amount">
                ${{storeOwnerStats.totalCommissionPaidOut}}
              </p>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card class="stat-card">
        <div class="row">
          <div class="col-md-3">
            <img src="../../assets/img/stat_wallet.svg" class="img-responsive"/>
          </div>
          <div class="col-md-9">
            <div class="stat-text">
              <p class="stat-title">
                Total Listed
              </p>
              <p class="stat-amount">
                {{storeOwnerStats.totalListed}}
              </p>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card class="stat-card">
        <div class="stat-text">
          <!-- <p class="stat-title text-margin">All about partner stores</p> -->
          <a href="https://triple.freshdesk.com/support/solutions/folders/69000106269" target="_blank" class="text-margin text-decoration-none">How to list products from your stores</a>
         <br>
         <br>
         <br>
         <br>
        </div>
  </mat-card>
    </div>
  </div>
  <div class="mt-3">
    <div class="row">
      <div class="col-md-12">
        <mat-tab-group selectedIndex="0" (selectedTabChange)="changeTab($event)">
          <mat-tab label="Shopify Products">
            <app-shopify-products></app-shopify-products>
          </mat-tab>
          <mat-tab label="Listed Products">
            <app-listed-products *ngIf="tabIndex === 1"></app-listed-products>
          </mat-tab>
          <mat-tab label="Sale Requests">
            <app-product-requests *ngIf="tabIndex === 2"></app-product-requests>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>


