<mat-sidenav-container class="sidenav-container" [ngClass]="{'disable-clicks': isAuthenticating === true}">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
  <mat-toolbar color="primary">
   <img src="../../assets/logo/triple-2-white.png" style="width: 50%;">
  </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/']" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact:
        true}"><mat-icon class="sidenav-icon">shopping_basket</mat-icon>Find Products</a>
      <a mat-list-item [routerLink]="['store-owner']" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact:
        true}"><mat-icon class="sidenav-icon">add_business</mat-icon>My Products</a>
      <a mat-list-item [routerLink]="['affiliate-partner']" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact:
        true}"><mat-icon class="sidenav-icon">group_work</mat-icon>Partner Products</a>
      <a mat-list-item [routerLink]="['settings']" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact:
        true}"><mat-icon class="sidenav-icon">settings_applicatioins</mat-icon>Settings</a>
      <a mat-list-item href="https://triple.freshdesk.com/support/home" target="_blank" class="spacer"><mat-icon class="sidenav-icon">contact_support</mat-icon>Support</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="nav-spacer"></span>

      <mat-nav-list class="menu-items">
        <button mat-button [matMenuTriggerFor]="productsmenu"><mat-icon class="icon-white" aria-label="Log out">person_outline</mat-icon></button>
        <mat-menu #productsmenu="matMenu">
          <button mat-menu-item (click)="LogOut()">
            <mat-icon aria-label="Side nav toggle icon" color="primary">login</mat-icon>
            Log out</button>
        </mat-menu>

      </mat-nav-list>
      <!-- <span>ttriple</span> -->
    </mat-toolbar>
    <mat-progress-bar mode="indeterminate" *ngIf="showLoader"></mat-progress-bar>

    <!-- Add Content Here -->
    <div class="main-content">

      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
