<div class="container">
  <div class="row">
    <div class="col-md-3">
      <mat-card class="stat-card">
        <div class="row">
          <div class="col-md-3">
            <img src="../../assets/img/stat_cart.svg" class="img-responsive" />
          </div>
          <div class="col-md-9">
            <div class="stat-text">
              <p class="stat-title text-margin">Total Product Added</p>
              <p class="stat-amount text-margin">{{affiliateStat.totalProductAdded}}</p>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card class="stat-card">
        <div class="row">
          <div class="col-md-3">
            <img
              src="../../assets/img/stat-currency.svg"
              class="img-responsive"
            />
          </div>
          <div class="col-md-9">
            <div class="stat-text">
              <p class="stat-title text-margin">Total Earnings</p>
            </div>
          </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <p class="stat-title mb-0">Paid: <span class="stat-amount">${{affiliateStat.totalPaid}}</span> </p>

                </div>
                <div class="col-md-6">
                  <p class="stat-title mb-0">Pending <span class="stat-amount">${{affiliateStat.totalUnPaid}}</span></p>

                </div>
              </div>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card class="stat-card">
        <div class="row">
          <div class="col-md-3">
            <img
              src="../../assets/img/stat_wallet.svg"
              class="img-responsive"
            />
          </div>
          <div class="col-md-9">
            <div class="stat-text">
              <p class="stat-title text-margin">Top Seller</p>
              <p class="stat-amount text-margin">
                <img src="{{affiliateStat.topSeller}}" class="img-responsive top-seller-image">
                </p>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card class="stat-card">

            <div class="stat-text">
              <!-- <p class="stat-title text-margin">All about partner stores</p> -->
              <a href="https://triple.freshdesk.com/support/solutions/folders/69000106269" target="_blank" class="text-margin text-decoration-none">How to list products from other stores</a>
             <br>
             <br>
             <br>
             <br>
              <!-- <p class="stat-amount">
                Total Sales
              </p> -->
            </div>

      </mat-card>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <mat-tab-group selectedIndex="0" (selectedTabChange)="changeTab($event)">
        <mat-tab label="Products">
          <app-affiliate-products></app-affiliate-products>
        </mat-tab>
        <mat-tab label="Earnings">
          <app-affiliate-earnings
            *ngIf="tabIndex === 1"
          ></app-affiliate-earnings>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
