<app-main-nav>
  <div class="container">
    <div class="alert alert-primary" role="alert">
      Triple App is here! It's still early, stay tuned for updates and improvements.
    </div>
  </div>
  <router-outlet></router-outlet>
</app-main-nav>
