<div class="table-wrapper">
  <table mat-table [dataSource]="dataSource" matSort style="width: 100%;">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</th>
      <td mat-cell *matCellDef="let element" style="text-align: left;width: 68%">{{ element.title }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"><img src="{{element.images[0].src}}" alt="" style="padding:10px" class="table-img"></td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef [ngClass]="'text-center'">Price</th>
      <td mat-cell *matCellDef="let element" [ngClass]="'text-center'" style="width: 8%">{{ element.variants[0].price }} {{ element.currency }}</td>
    </ng-container>

    <ng-container matColumnDef="commission">
      <th mat-header-cell *matHeaderCellDef [ngClass]="'text-center'">Commission %</th>
      <td mat-cell *matCellDef="let element" [ngClass]="'text-center'"  style="text-align: center;width: 12%">{{ element.commission }} %</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef [ngClass]="'text-center'">Status</th>
      <td mat-cell *matCellDef="let element" style="text-align: center;width: 10%">
        <div *ngIf="element.isApproved; else notapproved">
          <span class="badge bg-success">Approved</span>
        </div>
        <ng-template #notapproved>
          <span class="badge bg-secondary">Pending</span>
        </ng-template>
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef [ngClass]="'text-center'">Action</th>
      <td mat-cell *matCellDef="let element" [ngClass]="'text-center'">
        <div *ngIf="element.isAdded; else add">
          <button color="primary" class="secondary-button" (click)="OpenRemoveDialog(element)" mat-flat-button>Remove</button>
        </div>
        <ng-template #add>
          <button color="primary" (click)="OpenAddDialog(element)" mat-flat-button>Add to store</button>
        </ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 20, 30]" [length]="listedProducts.length" [pageSize]="5" showFirstLastButtons></mat-paginator>

