<div class="p-4">
  <div class="row">
    <h3>Pricing Plans</h3>
    <div class="col-md-4">
      <mat-card class="mat-card-settings" style="width: 100%;">
        <mat-card-content>
          <div class="mb-3">
            <h4 class="d-inline">Free Plan</h4>
            <h4 class="d-inline float-end price-amount">$0<small>/mo</small></h4>
          </div>
          <mat-checkbox class="d-block" [(ngModel)]="checked" [disabled]="true">List up to 5 products</mat-checkbox>
          <mat-checkbox class="d-block" [(ngModel)]="checked" [disabled]="true">Sell Unlimited products</mat-checkbox>
          <mat-checkbox class="d-block" [(ngModel)]="checked" [disabled]="true">Free product display template</mat-checkbox>
        </mat-card-content>

        <div class="text-center">

          <button mat-flat-button color="primary" [disabled]="true" style="margin-top: 20px;" *ngIf="userSubscription?.planId == 1; else notSubscribed">Current Plan</button>
            <ng-template #notSubscribed>
              <button mat-flat-button color="primary" (click)="ActivatePlan(1)" style="margin-top: 20px;">Subscribe</button>
            </ng-template>
        </div>

      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="mat-card-settings" style="width: 100%;">
        <mat-card-content>
          <div class="mb-3">
            <h4 class="d-inline">Standard Plan</h4>
            <h4 class="d-inline float-end price-amount">$7.99<small>/mo</small></h4>
          </div>
          <mat-checkbox class="d-block" [(ngModel)]="checked" [disabled]="true">List up to 25 products</mat-checkbox>
          <mat-checkbox class="d-block" [(ngModel)]="checked" [disabled]="true">Sell Unlimited products</mat-checkbox>
          <mat-checkbox class="d-block" [(ngModel)]="checked" [disabled]="true">Free product display template</mat-checkbox>
        </mat-card-content>
        <div class="text-center">
          <button mat-flat-button color="primary" [disabled]="true" style="margin-top: 20px;" *ngIf="userSubscription?.planId == 3; else notSubscribedgrowth">Current Plan</button>
            <ng-template #notSubscribedgrowth>
              <button mat-flat-button color="primary" (click)="ActivatePlan(3)" style="margin-top: 20px;">Subscribe</button>
            </ng-template>
        </div>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="mat-card-settings" style="width: 100%;">
        <mat-card-content>
          <div class="mb-3">
            <h4 class="d-inline">Growth Plan</h4>
            <h4 class="d-inline float-end price-amount">$17.99<small>/mo</small></h4>
          </div>
          <mat-checkbox class="d-block" [(ngModel)]="checked" [disabled]="true">List up to 70 products</mat-checkbox>
          <mat-checkbox class="d-block" [(ngModel)]="checked" [disabled]="true">Sell Unlimited products</mat-checkbox>
          <mat-checkbox class="d-block" [(ngModel)]="checked" [disabled]="true">Free product display template</mat-checkbox>
        </mat-card-content>
        <div class="text-center">
          <button mat-flat-button color="primary" [disabled]="true" style="margin-top: 20px;" *ngIf="userSubscription?.planId == 4; else notSubscribedstandard">Current Plan</button>
            <ng-template #notSubscribedstandard>
              <button mat-flat-button color="primary" (click)="ActivatePlan(4)" style="margin-top: 20px;">Subscribe</button>
            </ng-template>
        </div>
      </mat-card>
    </div>

  </div>
</div>

