<!-- <div *ngIf="shopifyProducts.length > 0; else noproduct"> -->
<div class="table-wrapper">
  <table mat-table [dataSource]="dataSource" matSort style="position: sticky; width: 100%;">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</th>
      <td mat-cell *matCellDef="let element" style="text-align: left">{{ element.title }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" [ngClass]="'no-background'"><img src="{{element.images[0].src}}" alt="" style="height:80px; padding:10px"></td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
      <td mat-cell *matCellDef="let element" style="width: 15%">{{ element.variants[0].price }}  {{ element.currency }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="action" stickyEnd>
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.isListed; else list">
          <button color="primary" class="secondary-button" (click)="OpenUnlistDialog(element)" mat-flat-button>Unlist</button>
        </div>
        <ng-template #list>
          <button color="primary" (click)="OpenListDialog(element)" mat-flat-button>List</button>
        </ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 20,30]" [pageSize]="5" [length]="shopifyProducts.length" showFirstLastButtons>
  <!-- <ng-template>Test</ng-template> -->
</mat-paginator>


<!-- </div> -->
<!--
<ng-template #noproduct>
  <h1 class="display-4 mt-3 text-center">You have not listed any product on triple</h1>
  </ng-template> -->
