<div *ngIf="dialogData.isproductlisting; else unlist">
  <h2 mat-dialog-title>List Product</h2>
  <mat-dialog-content>List selected product to triple</mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close class="secondary-button">Cancel</button>
    <button mat-flat-button color="primary" (click)="ListStoreOwnerProduct()">Ok</button>
  </mat-dialog-actions>
</div>

<ng-template #unlist>
  <div *ngIf="dialogData.setcommission === false; else setcommission">
    <h2 mat-dialog-title>Unlist Product</h2>
    <mat-dialog-content>Unlist selected product from triple</mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close class="secondary-button">Cancel</button>
      <button mat-flat-button color="primary" (click)="UnListStoreOwnerProduct()">Ok</button>
    </mat-dialog-actions>
  </div>

</ng-template>

<ng-template #setcommission>
  <div *ngIf="dialogData.isApproval === false; else approve">
    <h2 mat-dialog-title>Set Commission %</h2>
    <mat-dialog-content>
      <mat-form-field>
        <mat-label>Amount %</mat-label>
        <input matInput [ngModel]="dialogData.product.commission" #amount>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close class="secondary-button">Cancel</button>
      <button mat-flat-button color="primary" (click)="SetProductCommision(amount.value)">Ok</button>
    </mat-dialog-actions>
  </div>

</ng-template>

<ng-template #approve>
  <div *ngIf="dialogData.isApproval == true && dialogData.isRevoke == false; else revoke">
    <h2 mat-dialog-title>Approve Partner Listing</h2>
    <mat-dialog-content>Approve partner listing for this product</mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close class="secondary-button">Cancel</button>
      <button mat-flat-button color="primary" (click)="ApprovePartnerListing()">Ok</button>
    </mat-dialog-actions>
  </div>
</ng-template>

<ng-template #revoke>
  <div *ngIf="dialogData.isApproval == true && dialogData.isRevoke == true">
    <h2 mat-dialog-title>Revoke Partner Listing</h2>
    <mat-dialog-content>Revoke partner listing for this product</mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close class="secondary-button">Cancel</button>
      <button mat-flat-button color="primary" (click)="RevokePartnerListing()">Ok</button>
    </mat-dialog-actions>
  </div>
</ng-template>

