@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-core();


/* For use in src/lib/core/theming/_palette.scss */
$mat-tipleblue: (
    50 : #e9f0ff,
    100 : #c8d9ff,
    200 : #a3c0ff,
    300 : #7ea6ff,
    400 : #6293ff,
    500 : #4680ff,
    600 : #3f78ff,
    700 : #376dff,
    800 : #2f63ff,
    900 : #2050ff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #cfd8ff,
    A700 : #b6c4ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$tripple-app-primary: mat-palette($mat-tipleblue);
$tripple-app-accent:  mat-palette($mat-yellow, A200, A100, A400);

// The warn palette is optional (defaults to red).
//$tripple-app-warn:    mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$tripple-app-theme: mat-light-theme(
  $tripple-app-primary,
   $tripple-app-accent,

);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($tripple-app-theme);
