{{ 'style.css' | asset_url | stylesheet_tag }}
{% if search.results_count == 0 %}
<h2 id="resulttittle">Recommended Products</h2>
<hr />
<div id="loader" class="loader"></div>
<h5 id="failedrequest"></h5>
<div id="searchItems" style="display: none">
      {% comment %}
       <a id="moreoffers" href="" target="_blank">
        <div class="product-box" style="border:none;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR63GVPHvp0xngUPwrBTQtVl0keYtLlWV742a8Nwfu6YVMXFlm2" width="120" height="120">
        <div>
            <h4 style="text-align:center;">More Results<br></h4>
        </div>
       </div>
        </a>
        {% endcomment %}
</div>
{% else %}
{% endif %}
