.example-card {
  max-width: 300px;
}
.product-card {
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}
.spacenavitems{
  flex: 1 1 auto;
}

.product-detail {
  padding: 10%;
  white-space: nowrap;
}

mat-card-image {
  width: 266.2px;
  height: 229.02px;
}
a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 50px;
}
.mat-grid-tile .mat-figure{
  justify-content: flex-start !important;
}
.card-img-top {
  vertical-align: middle;
  border-style: none;
  width: 100%;
  height: 250px;
  object-fit: cover;
  padding: 20px !important;
  }
  .product-card-text {
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-height: X;        /* fallback */
    max-height: X*N;       /* fallback */
 }
 .mat-paginator{
   background: transparent !important;
 }
.product-card-price{
  font-size: 15px !important;
  font-weight: bold !important;
}
