<!-- <mat-grid-tile colspan="1" *ngFor="let product of dataSource.filteredData">
      <mat-card class="product-card">
        <img
          mat-card-image
          src="{{product.images[0].src}}"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <a href="#">{{product.title}}</a>
          <br>{{product.shopOwner}} {{product.commission}} {{product.variants[0].price}}
        </mat-card-content>
        <mat-card-actions>
          <div *ngIf="!product.isAdded; else remove">
            <button mat-flat-button color="primary" (click)="OpenAddDialog(product)">Add</button>
          </div>
          <ng-template #remove>
            <button color="primary" (click)="OpenRemoveDialog(product)" mat-flat-button>Remove</button>
          </ng-template>
          <button mat-flat-button color="primary">View</button>
        </mat-card-actions>
      </mat-card>
  </mat-grid-tile> -->

  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h3 class="heading-text">Products</h3>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-8">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Search products</mat-label>
              <input
                matInput
                placeholder="Type to search"
                (keyup)="applyFilter($event.target.value)"
              />
              <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Price</mat-label>
              <mat-select  name="price"  [(value)]="pricevalue">
                <mat-option *ngFor="let price of prices" [value]="price.value">
                  {{price.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Commission</mat-label>
              <mat-select  name="commission" [(value)]="commissionvalue" (selectionChange)="handleCommissionChange()">
                <mat-option *ngFor="let price of commission" [value]="price.value">
                  {{price.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-3 mt-3" *ngFor="let product of dataSource.filteredData">
        <div class="card h-80" style="overflow-x: overlay;">

          <img src="{{ product.images[0].src }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title product-card-text">{{ product.title }}</h5>
            <div class="row">
              <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">

                <small class="product-card-price">{{ product.variants[0].price }} {{product.currency}}</small><br>
                  <small class="text-danger">{{ product.commission }}% commission</small><br>
                  <!-- <small class="text-primary"><a href="https://{{product.shopDomain}}/products/{{product.handle}}" target="_blank">{{ product.shopOwner }}</a></small> -->
              </div>

              <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12" style="text-align: right;">
                <div *ngIf="!product.isAdded; else remove">
                  <button mat-flat-button color="primary" (click)="OpenAddDialog(product)">
                    Request to Sell
                  </button>
                </div>
                <ng-template #remove>
                    <button
                    color="primary"
                    (click)="OpenRemoveDialog(product)"
                    mat-flat-button style="justify-content: flex-end;"
                  >
                    Remove
                  </button>
                </ng-template>
                <!-- <button color="primary" (click)="OpenAddDialog(element)" mat-flat-button>Add</button> -->

              </div>
            </div>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
      <mat-paginator [length]="pageSizeLength"
              [pageSize]="12"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent = GetData($event)">
      </mat-paginator>
    </div>
  </div>

  <!-- <div class="product-container">
    <mat-card class="product-card" *ngFor="let product of dataSource.filteredData">
      <img
        mat-card-image
        src="{{ product.images[0].src }}"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <a href="#">{{ product.title }}</a>
        <br />{{ product.shopOwner }} {{ product.commission }}
        {{ product.variants[0].price }}
      </mat-card-content>
      <mat-card-actions>
        <div *ngIf="!product.isAdded; else remove">
          <button mat-flat-button color="primary" (click)="OpenAddDialog(product)">
            Add
          </button>
        </div>
        <ng-template #remove>
          <button
            color="primary"
            (click)="OpenRemoveDialog(product)"
            mat-flat-button
          >
            Remove
          </button>
        </ng-template>
        <button mat-flat-button color="primary">View</button>
      </mat-card-actions>
    </mat-card>
</div> -->
