<!-- <div *ngIf="shopifyProducts.length > 0; else noproduct"> -->
  <div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" matSort style="position: sticky; width: 100%;">
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</th>
        <td mat-cell *matCellDef="let element" style="text-align: left" style="width: 73%">{{ element.title }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" [ngClass]="'no-background'" style="width: 10%"><img src="{{element.images[0].src}}" alt="" style="height:80px; padding:10px"></td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="partnerurl">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Store Name</th>
        <td mat-cell *matCellDef="let element" style="width: 18%"><a href="https://{{ element.affiliateShopUrl }}" target="_blank">{{ element.affiliateShopUrl }}</a></td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="action" stickyEnd>
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="!element.isApproved; else list">
            <button color="primary" (click)="OpenApproveDialog(element)" mat-flat-button>Approve</button>
          </div>
          <ng-template #list>
            <button color="primary" class="secondary-button" (click)="OpenRevokeDialog(element)" mat-flat-button>Revoke</button>
          </ng-template>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20,30]" [pageSize]="5" [length]="shopifyProducts.length" showFirstLastButtons></mat-paginator>
