/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
.icon-white {
  color: #ffffff !important;
}
.nav-spacer {
  flex: 1 1 auto;
}
.mat-typography,
.mat-list-item {
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  color: #535763 !important;
}

/* side nav */
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 230px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.main-content {
  padding: 0 15px;
  margin: 15px auto;
}
.mat-drawer-inner-container {
  overflow: hidden !important;
}
.mat-drawer-side {
  border: none !important;
  overflow: hidden !important;
}
.mat-drawer {
  overflow: hidden !important;
}
mat-sidenav {
  background: #ffffff;
  /* shadow */
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.08);
  /* border-radius: 0px 5px 0px 0px; */
}
a.mat-list-item.mat-focus-indicator.link-active {
  background: #4680ff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  color: #ffffff !important;
}
mat-nav-list {
  padding: 12px !important;
  margin-top: 10px !important;
}
mat-nav-list.menu-items {
  margin-top: 0 !important;
}
.mat-list-item {
  margin-bottom: 15px !important;
}
.spacer {
  position: absolute !important;
  bottom: 0;
  left: 10px;
}
.menu-icon {
  background: url("assets/menu-icon.svg");
}
.mat-drawer-content {
  background-color: #ecf0f5 !important;
}
.mat-tab-label-active{
  background: transparent !important;
  border-radius: 5px !important;
  color: #000000 !important;
}
.mat-tab-label-active.mat-tab-label{
  opacity: 1 !important;
}
.mat-tab-label{
  background:transparent !important;
  opacity: 0.3;
  border-radius: 5px;
  min-width: 0 !important;
}
div.mat-tab-label{
  margin-right: 5px;
}
.mat-tab-body-wrapper{
  border-radius: 5px;

}
.mat-tab-body-content{
  background: #FFFFFF;
/* shadow */
box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.08);
border-radius: 5px;
overflow: hidden !important;
}

button:focus{
  outline: none !important;
}
.heading-text{
  padding: 10px 0 !important;
}
.mat-form-field{
  font-size: 12px !important;
}
.text-primary{
  color: #4680ff !important;
}
.stat-text{
  margin-top: 20px !important;
}
.stat-icon{
  color: #4680ff !important;
  filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.08)) !important;
}
.stat-amount{
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
color: #535763;
text-align: center;
}
.stat-card{
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.08) !important;
border-radius: 5px !important;
width: 100% !important;
}
.stat-title{
font-style: normal !important;
font-size: 14px !important;
line-height: 19px !important;
color: #535763 !important;
text-align: center;
}
.mat-cell{
  background: rgba(70,128,255,0.05) !important;
}
.table-img{
  border-radius: 5px;
  height:90px;
  padding: 5px;
}
.table-wrapper {
  height: 430px;
  overflow: auto;
}
.secondary-button{
  background: rgba(70,128,255,0.5) !important;
  color: #535763 !important;
}
.mat-card-settings{
  background: rgba(70,128,255,0.05) !important;
  box-shadow: none !important;
}
.preview-button{
  font-size: 12px !important;
}
p{
  margin-top: 0 !important;
  margin-bottom: 1rem !important;
}
.top-seller-image{
  transition: transform .2s; /* Animation */
  width: 24px;
  height: 24px;
  margin: 0 auto;
  cursor: pointer;
}
.top-seller-image:hover {
  transform: scale(3);
}
table{
  width: 100% !important;
}
.badge{
  padding: 0.65em 0.65em !important;
}
.bg-secondary{
background-color: rgb(79,79,79,0.3) !important;
color: #4F4F4F !important;
}
.bg-success{
  background-color: rgb(39,174,96,0.3) !important;
  color: #27AE60 !important;
  }
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background{
    background-color: #4680ff !important;
  }
  .mat-checkbox-disabled .mat-checkbox-label{
    color: inherit !important;
  }
.price-amount{
    color: #4680ff !important;
    font-size: 23px !important;
  }

  .mat-tab-label{
    height: 35px !important;
  }
  .disable-clicks {
    pointer-events: none !important;
    opacity: 0.9 !important;
  }
