<div *ngIf="dialogData.isadding; else remove">
  <h2 mat-dialog-title>Request To Sell</h2>
  <mat-dialog-content>Request selected product to sell</mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close class="secondary-button">Cancel</button>
    <button mat-flat-button color="primary" (click)="AddAffiliateProduct()">Ok</button>
  </mat-dialog-actions>
</div>

<ng-template #remove>
  <div>
    <h2 mat-dialog-title>Remove Product</h2>
    <mat-dialog-content>Remove selected product</mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close class="secondary-button">Cancel</button>
      <button mat-flat-button color="primary" (click)="RemoveAffiliateProduct()">Ok</button>
    </mat-dialog-actions>
  </div>
</ng-template>
