<div class="table-wrapper">
  <table mat-table [dataSource]="dataSource" matSort style="width: 100%;">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let element">{{ element.dateCharged | date: 'dd/MM/yyyy'}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="orderid">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>Order ID</th>
      <td mat-cell *matCellDef="let element">{{ element.orderId }}</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
      <td mat-cell *matCellDef="let element">{{ element.lineItemQuantity }}</td>
    </ng-container>

    <ng-container matColumnDef="saleamount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sale Amount</th>
      <td mat-cell *matCellDef="let element">{{ element.lineItemPrice }}</td>
    </ng-container>

    <ng-container matColumnDef="commission">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Commission Earned</th>
      <td mat-cell *matCellDef="let element">${{ element.amount }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.isPaid; else notpaid">
          <span class="badge bg-success">Paid</span>
        </div>
        <ng-template #notpaid>
          <span class="badge bg-secondary">Unpaid</span>
        </ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 20, 30]" [length]="earnings.length" [pageSize]="5" showFirstLastButtons></mat-paginator>


