<div class="container">
  <mat-tab-group selectedIndex="0">
    <mat-tab label="Partner Settings">
      <form
        class="settings-form mt-3"
        (ngSubmit)="UpdateSettings(f)"
        #f="ngForm"
      >
        <div class="row">
          <div class="col-md-6">
            <h3>Payout Details</h3>
            <mat-card class="mat-card-settings" style="width: 100%">
              <mat-card-content>
                <mat-form-field
                  appearance="outline"
                  class="settings-full-width"
                >
                  <mat-label>Paypal Email</mat-label>
                  <input
                    matInput
                    placeholder="PayPal Email"
                    [(ngModel)]="settingsModel.PaypalEmail"
                    name="PaypalEmail"
                  />
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-6">
            <h3>Partner Tag</h3>
            <mat-card class="mat-card-settings" style="width: 100%">
              <mat-card-content>
                <mat-form-field
                  appearance="outline"
                  class="settings-full-width"
                >
                  <input
                    matInput
                    placeholder="Placeholder"
                    readonly
                    [(ngModel)]="settingsModel.AffiliateTag"
                    name="AffiliateTag"
                  />
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-6">
            <h3>Product Display</h3>
            <mat-card class="mat-card-settings" style="width: 100%">
              <mat-card-content>
                <mat-form-field
                  appearance="outline"
                  class="settings-full-width"
                >
                  <mat-label>Button Text</mat-label>
                  <input
                    matInput
                    placeholder="Button Text"
                    [(ngModel)]="settingsModel.ButtonText"
                    name="ButtonText"
                  />
                </mat-form-field>

                <mat-form-field
                  appearance="outline"
                  class="settings-full-width"
                >
                  <mat-label>Header</mat-label>
                  <input
                    matInput
                    placeholder="Display Heading"
                    [(ngModel)]="settingsModel.AffiliateHeading"
                    name="AffiliateHeading"
                  />
                </mat-form-field>

                <button
                  type="button"
                  mat-icon-button
                  class="text-primary preview-button"
                  aria-label="Example icon-button with menu icon"
                  (click)="openPreviewDialog()">
                  <mat-icon color="primary" style="font-size: 14px"
                    >remove_red_eye</mat-icon
                  >
                  Preview
                </button>
              </mat-card-content>
            </mat-card>
          </div>
        </div>

        <button
          type="submit"
          mat-flat-button
          color="primary"
          style="margin-top: 20px"
        >
          Save
        </button>
      </form>
    </mat-tab>
    <mat-tab label="Plans">
      <app-pricing></app-pricing>
    </mat-tab>
  </mat-tab-group>
</div>
